@inherits LayoutComponentBase

<main>
    <div class="ui container" id="page">
        <div class="ui segment" id="actual-content">
            @Body
        </div>
        <div class="ui segment footer">
            © 2023 Ashraff Hathibelagal |
            Powered By Stable Horde.
        </div>
        </div>
</main>
