@page "/"

<div style="margin-top: 1vh">    

    <div class="fluid ui input" style="margin-bottom: 1vh">
        <input type="text" placeholder="Prompt...">
    </div>

    <button class="fluid ui right labeled icon button">
        <i class="right arrow icon"></i>
        Submit
    </button>
</div>
